@use "variables" as *;

footer {
    background-color: $lightColor;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    color: $darkColor;
    a {
        color: $darkColor;
        font-weight: bold;
    }
}

