@use "variables" as *;

header {
    height: 98vh;
    background: #bac2ab49;  
    width: 99%;
    margin: 0 auto;
    color: $white;
    position: relative;
    margin-top: 10px;
    a {
        color: $white;
    }
}

.skipToMain {
    padding: 15px;
    text-align: center;
    a {
      color: transparent;
      font-size: 15px;
      padding: 5px;
      &:hover,
      &:focus {
        color: $darkColor;
        border: 1px solid $lightColor;
      }
    }
}

.topHeader {
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: space-between;
}

.paulaHeader {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 45vw;
    justify-content: center;
    padding: 40vh 0;
}

.name {
  padding-left: 3rem;
}

.lastName {
  color: $medColor;
  font-size: clamp(1.8rem, 3vw, 4rem);
  padding-left: 3rem;
}

.title {
      padding-left: 3rem;
      index:3;
      position: relative;
      color: rgba(186, 184, 184, 0.567);
      &::before {
        content: "Front-End Developer";
        color: $darkColor;
        position: absolute;
        index: 1;
        top: 4px;        
      }
}

.buttonDown1 {
  position: absolute;
  height: 4vh;
  padding-left: 5vw;
  bottom: 4rem;
  index: 5;
}