@use "variables" as *;

main {
  background: $greenBg;
}

.aboutMe {
  h3 {
    margin: 0;
  }
}

.aboutContainer {
  display: flex;
  min-height: 5vh;
  padding-top: 2rem;
  gap: 1rem;
  min-width: 1000px;
  max-width: 1100px;
}

.profileImg {
  height: 100%;
  width: 25vw;
  img {
    height: 100%;
    margin-top: -6rem;
    margin-left: -5rem;
  }
}

.aboutMeText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1.5rem 0 1rem;
  max-width: 55vw;
  p {
    text-align: justify;
    margin-top: 0;
  }
}

.buttonDown4 {
  position: absolute;
  display: none;
  i {
      color: $white;
    }
  }
 
.downMain {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 40px;
  background-color: $lightPink;
  border: 2px solid $lightPink;
  box-shadow: 3px 3px 3px 3px rgba(134, 132, 132, 0.495);
  padding-top: 2px;
  bottom: 1rem;
  left: -10px;
  height: 4vh;
  text-align: center;
  color: $white;
  font-size: 1.5rem;
  // display: none;    
}

// ----------Skill and Tool Section----------
.skills {
  color: $white;
  min-height: 55vh;
  position: relative;
}

.displaySkills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  min-height: 28vh;
  padding: 2rem 0;
  gap: 0.1rem;
  div {
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $darkColor;
    padding-top: 15px;
    transition: 0.3s;
    &:hover,
    &:focus {
      background-color: $greenBg;
      border-radius: 3px;
      box-shadow: inset 0 0 0.6em 0 $greenBg, 0 0 0.6em 0 $greenBg;
    }
    p {
      line-height: 1.3rem;
    }
  }
}

.material-symbols-outlined {
  color: $darkColor;
  font-size: 43px;
  &:hover {
    color: $lightPink;
  }
}

// ----------Project Section----------

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px;
  padding: 0 2rem;
  gap: 2.5rem;
  max-width: 815px;
  .project1,
  .project2,
  .project3,
  .project4 {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    box-shadow: 5px 5px 10px white, -8px -8px 10px white;
  }
  .projectContainerLocal {
    padding: 0px 20px;
    width: 100%;
    min-width: 340px;
  }
  h4 {
    height: 96px;
  }
}

.projectImg {
  width: 310px;
  height: 190px;
  display: flex;
  margin-top: 20px;
  img {
    object-fit: cover;
    width: 100%;
  }
}

.toolsDescription {
  font-family: $bodyFont;
  color: $darkColor;
  i {
    font-size: 1.5rem;
  }
}

.projectLinkStyle {
  font-family: $bodyFont;
  color: $darkColor;
  width: 140px;
  text-align: center;
  font-size: 1rem;
  padding: 5px 15px;
  background-color: $lightPink;
  &:hover,
  &:focus {
    background-color: $darkColor;
    color: $lightPink;
  }
}

// ----------Contact Section----------
.contact {
  color: $white;
  position: relative;
  padding-bottom: 2rem;
  min-height: 70vh;
  position: relative;
}

.contactWrapper {
  height: 70vh;
  border-radius: 8px;

}

.contactHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailMe {
  padding-top: 1rem;
  display: flex;
}
.emailHeader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 2rem;
}

fieldset {
  border: none;
  border-radius: 3px;
  box-shadow: 0 4px 25px #4d67536c;
  color: $darkColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  width: 60%;
}

legend {
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: row;
  width: 650px;
  justify-content: flex-start;
  button {
    color: $darkColor;
    width: 100%;
    font-family: $bodyFont;
    background-color: #f7f9f85d;
    border-radius: 5px;
    border: 1px solid #4d675344;
    box-shadow: 3px 3px 10px #4d675344;
    padding: 8px 0;
    cursor: pointer;
    transition: 0.3s;
    &:hover,
    &:focus {
      background-color: $lightPink;
      color: $darkColor;
      box-shadow: none;
    }
  }
}

label {
  text-align: center;
  padding: 5px;
  color: $darkColor;
}

input,
textarea {
  color: $darkColor;
  appearance: none;
  outline: 0;
  background-color: #f7f9f8cf;
  width: 300px;
  border-radius: 3px;
  padding: 7px;
  margin: 5px auto 15px;
  border: 1px solid #f7f9f83c;
  text-align: start;
  transition-duration: 0.25s;
  &:hover,
  &:focus {
    border: 1px solid $lightPink;
    background-color: hsl(0, 79%, 99%);
  }
}

textarea {
  height: 135px;
  resize: none;
}

.fa-angles-up {
  position: absolute;
  font-size: 1.3rem;
  right: 8vw;
  bottom: 2vh;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid $lightPink;
  text-align: center;
  padding-top: 10px;
  background-color: $lightPink;
  color: $white;
  box-shadow: 3px 3px 3px 3px rgba(134, 132, 132, 0.495);
  transition: 0.3s;
  &:hover {
    transform: scale(90%);
    box-shadow: 4px 4px 4px 4px rgba(134, 132, 132, 0.495);
  }
}
