@use "variables" as *;

/* 1400px screen-size devices and smaller */
@media (max-width: 1400px) {
    .wrapper {
        width: 86%;
    }

}


/* 1200px screen-size devices and smaller */
@media (max-width: 1200px) {

    .paulaHeader {
        padding-left: 15%;
    }

   .title {
        margin-left: 0;
        max-width: 80%;
        &::after {
            font-size: 2rem;
        }
    }


    .aboutContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .profileImg {
            height: auto;
        }
    }

    .buttonDown4 {
        display: block;
    }

    .projectsContainer {
        gap: 1.5rem;
    }

    .project1,
    .project2,
    .project3,
    .project4 {
        flex-direction: column;
    }

}


/* 800px screen-size devices and smaller */
@media (max-width: 800px) {
    .wrapper {
        width: 90%;
    }
      
    .paulaHeader {
        padding-left: 10%;
    }

    .title {
        margin-left: 0;
        max-width: 85%;
        &::after {
            font-size: 2.2rem;        
        }
    }
    
    .aboutMeText {
        width: 125%;
    }

    .buttonDown2,
    .buttonDown4 {
        bottom: 1.5rem;
    }
    
    .skillsContainer {
        gap: 1rem;
      }
     
    .emailHeader {
        width: 90%;
        justify-content: flex-start;
    }

    fieldset { 
        padding: 2rem 0;
        margin: 0 auto;
        div {
            width: 95%;
        }
    }

    form {
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
        button,
        label,
        input,
        textarea {
            max-width: 350px;
            width:100%;
        }
    }

    .fa-angle-down {
        width: 50px;
        height: 50px;
    }

    i {
        font-size: 2rem;
    }

    .fa-angles-up {
        font-size: 1.3rem;
        width: 50px;
        height: 50px;
        bottom: 3vh;
    }

    .contactContainer {
        width: 90%;
    }
}


/* 400px screen-size devices and smaller */
@media (max-width: 400px) {
    .wrapper {
        width: 94%;
    }

    .title {
        margin-left: 0;
        max-width: 100%;
        &::after {
            font-size: 1.6rem;        
        }
    }
    
    .fa-bars-progress {
        font-size: 10rem;
    }

    .emailHeader {
        width: 95%;
        padding-left: 20px;
    }

    fieldset { 
        width: 90%;
        left: 25px;
        div {
            width: 90%;
        }
    }

    form {
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
        button,
        label,
        input,
        textarea {
            width: 300px;
        }
    }

}
