@use "variables" as *;

@media (max-width: 1200px) {
  .navBar {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 2rem;
    z-index: 10;
  }
  .navToggler {
    display: block;
    &:hover,
    &:focus {
      background-color: $lightColor;
      border: 1px solid lightgray;
    }
  }
  .navMenu {
    display: block;
    position: absolute;
    width: 40%;
    height: 19vh;
    top: 60px;
    background-color: $medColor;
    overflow: hidden;
    transition: 0.5s;
    top: -105%;
    .navItem {
      width: 100%;
      text-align: center;
      height: 60px;
      padding-top: 10px;
      &:hover {
        color: $darkColor;
        background-color: $lightColor;
        transition: 0.2s;
      }
      a {
        padding: 12px 100px;
        color: $white;
        &:hover{
          color: $darkColor;
          background-color: transparent;
          transform: scale(1.5);
          border: none;
        }
      }
    }
  }
  
  .navMenu.active {
    top: 3.8%;
    right: -11.5%;
  }

  .navToggler.active span {
    background-color: transparent;
  }

  .navToggler.active span:before {
    transform: translateY(0px) rotate(45deg);
  }

  .navToggler.active span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
}
