@use "variables" as *;

@media (max-width: 1000px) {
  .navBar {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 2rem;
    z-index: 10;
  }
  .navToggler {
    display: block;
    position: relative;
    &:hover,
    &:focus {
      background-color: #bac2abbb;
      border: none;
    }
  }
  .navMenu {
    display: block;
    position: absolute;
    height: 240px;
    width: 320px;
    background-color: #bac2abbb;
    overflow: hidden;
    transition: 0.5s;
    top: -105%;
    .navItem {
      width: 100%;
      text-align: center;
      height: 60px;
      padding-top: 10px;
      &:hover {
        color: $lightPink;
        background-color: $darkColor;
        transition: 0.2s;
      }
      a {
        padding: 12px 130px;
        color: $darkColor;
        &:hover{
          color: $lightPink;
          background-color: $darkColor;
          transform: scale(1.5);
          border: none;
        }
      }
    }
  }
  
  .navMenu.active {
    top: 49px;
    right: 40px;
    margin-right: 0;
  }

  .navToggler.active span {
    background-color: transparent;
  }

  .navToggler.active span:before {
    transform: translateY(0px) rotate(45deg);
  }

  .navToggler.active span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
}

@media (max-width: 840px) {


}


