@use "variables" as *;

.navBar {
 padding-top: 22px;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    margin-right: 15vw;
    li {
      &:hover {
        transform: scale(1.1);
      }
    }
    a {
      color: $darkColor;
      cursor: pointer;
      padding: 10px 30px;
      &:hover {
        transition: 0.2s;          
        // background-color: #4d67530d;
        // border-radius: 3px;
        border-bottom: 2px solid $darkColor;
      }
      &:focus {
        border: 2px solid $white;
        background-color: none;
        border-radius: 3px;    
      }
    }
}


.navToggler {
    border: 3px solid $darkColor;
    padding: 5px;
    height: 40px;
    cursor: pointer;
    display: none;
}

.navToggler span,
.navToggler span::before,
.navToggler span:after {
    width: 30px;
    height: 3px;
    background-color: $darkColor;
    display: block;
    transition: 0.3s;
}

.navToggler span:before {
    content: "";
    transform: translateY(-9px);
}

.navToggler span:after{
    content: "";
    transform: translateY(6px);
}