@use "variables" as *;

// Font types

// Source Sans Pro 
@font-face {
font-family: "Source Sans Pro";
src: url("../../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf")
}


// Aboreto
@font-face {
  font-family: 'Aboreto';
  src: url(../../fonts/Aboreto/Aboreto-Regular.ttf)
}
// --------------------------
html {
  font-size: 125%;
}

h1 {
  font-family: 'Aboreto';
  color: $darkColor;
  font-size: clamp(5rem, 4.1256rem + 4.3049vw, 8rem);
  margin: 0;
  padding-top: 5rem;
}

h2 {
  font-family: 'Aboreto';
  font-size: clamp(2.3rem, 1.9502rem + 1.722vw, 3.5rem);
  margin-top: 0;
  color: $darkColor;
}

h3 {
  font-family: 'Aboreto';
  font-size: clamp(1.6rem, 1.1919rem + 2.009vw, 3rem);
  color: $darkColor;
  text-align: center;
}

h4 {
  font-family: 'Aboreto';
  font-size: clamp(1rem, 0.8834rem + 0.574vw, 1.4rem);
  color: $darkColor;
  line-height:clamp(1rem, 0.8834rem + 0.574vw, 1.4rem);
  margin: 0;
}

article,
label,
p,
a {
  font-family: $bodyFont;
  font-size: clamp(1rem, 0.9417rem + 0.287vw, 1.2rem);
  line-height: clamp(1.3rem, 1.0668rem + 1.148vw, 2.1rem);
  color: $darkColor;
}

