@use "variables" as *;

// Font types

// Lora Regular
@font-face {
    font-family: 'Lora Regular';
    src: url('../../fonts/Lora/static/Lora-Regular.ttf')
}

// Lora Italic
@font-face {
    font-family: 'Lora Italic';
    src: url('../../fonts/Lora/static/Lora-Italic.ttf')
}

// Roboto Bold
@font-face {
    font-family: 'Roboto Bold';
    src: url(../../fonts/Roboto/Roboto-Bold.ttf);
}

// --------------------------
html {
    font-size: 125%;
}


h1 {
    font-family: $bodyFont;
    color: $darkColor;
    font-size: clamp(5rem, 8vw, 8rem);
    display: flex;
    flex-direction: column;
    
}

h2 {
    font-family: 'Roboto';
    font-size: clamp(2.1rem, 4vw, 3.5rem);
    color: $lightPink;
    width: 80%;

}

h3 {
    font-family: $bodyFont;
    font-size: clamp(1.6rem, 3vw, 3rem);
    color: $darkColor;
    text-align: center;
}

h4 {
    font-family: 'Roboto Bold';
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    color: $darkColor;
}

article,
legend,
label,
p,
a {
    font-family: $bodyFont;
    font-size: clamp(1rem, 1vw, 1.2rem);
    line-height: 1.5rem;

}