html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Lora Regular";
  src: url("../../fonts/Lora/static/Lora-Regular.ttf");
}
@font-face {
  font-family: "Lora Italic";
  src: url("../../fonts/Lora/static/Lora-Italic.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url(../../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Aboreto";
  src: url(../../fonts/Aboreto/Aboreto-Regular.ttf);
}
html {
  font-size: 125%;
}

h1 {
  font-family: "Aboreto";
  color: #20413A;
  font-size: clamp(5rem, 4.1256rem + 4.3049vw, 8rem);
  margin: 0;
  padding-top: 5rem;
}

h2 {
  font-family: "Aboreto";
  font-size: clamp(2.3rem, 1.9502rem + 1.722vw, 3.5rem);
  margin-top: 0;
  color: #20413A;
}

h3 {
  font-family: "Aboreto";
  font-size: clamp(1.6rem, 1.1919rem + 2.009vw, 3rem);
  color: #20413A;
  text-align: center;
}

h4 {
  font-family: "Aboreto";
  font-size: clamp(1.2rem, 0.996rem + 1.0045vw, 1.9rem);
  color: #20413A;
  line-height: clamp(1.2rem, 0.996rem + 1.0045vw, 1.9rem);
  margin: 0;
  padding-top: 1.5rem;
}

article,
label,
p,
a {
  font-family: "Lora Regular";
  font-size: clamp(1rem, 0.9417rem + 0.287vw, 1.2rem);
  line-height: clamp(1.3rem, 1.0668rem + 1.148vw, 2.1rem);
}

legend {
  font-family: "Lora Italic";
}

.wrapper {
  max-width: 1440px;
  width: 70%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  outline: none;
}
a:focus {
  outline: 2px solid #f1cddf;
  padding: 1%;
}

i {
  font-size: 2.5rem;
}

.buttonStyle {
  position: absolute;
  -webkit-animation: bounce 0.5s infinite;
          animation: bounce 0.5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes bounce {
  1% {
    height: 2px;
    transform: translateY(2px);
  }
}

@keyframes bounce {
  1% {
    height: 2px;
    transform: translateY(2px);
  }
}
header {
  height: 100vh;
  background: rgba(186, 194, 171, 0.2862745098);
  width: 100%;
  margin: 0 auto;
  color: #fff;
  position: relative;
}
header a {
  color: #fff;
}

.skipToMain {
  padding: 15px;
  text-align: center;
}
.skipToMain a {
  color: transparent;
  font-size: 15px;
  padding: 5px;
}
.skipToMain a:hover, .skipToMain a:focus {
  color: #20413A;
  border: 1px solid #BaC2AB;
}

.topHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.paulaHeader {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  width: 70vw;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  -webkit-animation: 1s ease-in 1 expand;
          animation: 1s ease-in 1 expand;
}

.expand {
  -webkit-animation: expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes expand {
  0% {
    letter-spacing: -0.4em;
    opacity: 0;
  }
  40% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    letter-spacing: -0.4em;
    opacity: 0;
  }
  40% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.paulaContainer {
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  padding-left: 10px;
  z-index: 3;
}

.flower {
  height: 34vh;
  position: absolute;
  bottom: 11%;
  right: 4%;
  -webkit-animation: 2s ease-in 1 falling;
          animation: 2s ease-in 1 falling;
}
.flower img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes falling {
  0% {
    transform: translate3d(5rem, -2rem, -4rem) rotate(20deg);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes falling {
  0% {
    transform: translate3d(5rem, -2rem, -4rem) rotate(20deg);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
.contactContainer {
  position: fixed;
  left: 15px;
  bottom: 18vh;
  z-index: 15;
}

.contactHover {
  display: flex;
  gap: 1.5rem;
}
.contactHover i {
  color: #20413A;
  font-size: 1.8rem;
  text-shadow: 5px 5px 5px rgb(172, 171, 171);
}

.socialMediasLinks {
  padding: 0.8rem;
  transition: 0.5s;
}
.socialMediasLinks a {
  color: #20413A;
}
.socialMediasLinks:hover, .socialMediasLinks:focus {
  background-color: #20413A;
  border-radius: 3px;
}
.socialMediasLinks:hover i, .socialMediasLinks:focus i {
  color: #f1cddf;
  text-shadow: 5px 5px 5px rgb(85, 86, 86);
}

.downTop {
  width: 60px;
  height: 60px;
  font-size: 2.5rem;
  top: 10vh;
  position: absolute;
  top: -10vh;
  left: 18vw;
}

.buttonDown1 {
  position: absolute;
  height: 5vh;
  padding-left: 5vw;
  bottom: 4rem;
  display: block;
}
.buttonDown1 i {
  border-radius: 40px;
  border: 2px solid #f1cddf;
  text-align: center;
  padding-top: 2px;
  background-color: #f1cddf;
  font-size: 2.5rem;
  box-shadow: 3px 3px 3px 3px rgba(134, 132, 132, 0.495);
}

.mainSection {
  background: rgba(186, 194, 171, 0.2862745098);
}

.aboutMe {
  min-height: 50vh;
  padding: 2rem 0;
  margin: 0 auto;
}
.aboutMe h3 {
  margin: 1rem;
}

.aboutContainer {
  display: flex;
  min-height: 5vh;
  padding-top: 2rem;
  gap: 1rem;
  min-width: 1000px;
  max-width: 1100px;
}

.profileImg {
  height: 100%;
  width: 25vw;
}
.profileImg img {
  height: 100%;
  margin-top: -6rem;
  margin-left: -5rem;
}

.aboutMeText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1.5rem 0 1rem;
  max-width: 55vw;
}
.aboutMeText p {
  text-align: justify;
  margin-top: 0;
}

.buttonDown4 {
  position: absolute;
  display: none;
}
.buttonDown4 i {
  color: #fff;
}

.downMain {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 40px;
  background-color: #f1cddf;
  border: 2px solid #f1cddf;
  box-shadow: 3px 3px 3px 3px rgba(134, 132, 132, 0.495);
  padding-top: 2px;
  bottom: 1rem;
  left: -10px;
  height: 4vh;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

.skills {
  color: #fff;
  min-height: 55vh;
  position: relative;
}

.displaySkills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 104%;
  max-width: 1200px;
  min-height: 28vh;
  padding: 2rem 0;
  gap: 1rem;
}
.skillsContainer div {
  width: 180px;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #20413A;
  padding-top: 15px;
  transition: 0.3s;
}
.skillsContainer div:hover, .skillsContainer div:focus {
  color: #f1cddf;
  background-color: #20413A;
  border-radius: 3px;
  box-shadow: inset 0 0 0.6em 0 rgba(249, 250, 248, 0.3490196078), 0 0 0.6em 0 rgba(249, 250, 248, 0.3490196078);
}
.skillsContainer div p {
  line-height: 1.3rem;
}

.material-symbols-outlined {
  color: #20413A;
  font-size: 43px;
}
.material-symbols-outlined:hover {
  color: #f1cddf;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px;
  padding: 0 2rem;
  gap: 2.5rem;
  max-width: 815px;
}
.projectsContainer .project1,
.projectsContainer .project2,
.projectsContainer .project3,
.projectsContainer .project4 {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 1.5rem;
  box-shadow: 5px 5px 10px white, -8px -8px 10px white;
}
.projectsContainer .projectContainerLocal {
  padding: 0px 20px;
  width: 100%;
  min-width: 340px;
}
.projectsContainer h4 {
  height: 96px;
}

.projectImg {
  width: 310px;
  height: 190px;
  display: flex;
  margin-top: 20px;
}
.projectImg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.toolsDescription {
  font-family: "Lora Regular";
  color: #20413A;
}
.toolsDescription i {
  font-size: 1.5rem;
}

.projectLinkStyle {
  font-family: "Lora Regular";
  color: #20413A;
  width: 140px;
  text-align: center;
  font-size: 1rem;
  padding: 5px 15px;
  background-color: #f1cddf;
}
.projectLinkStyle:hover, .projectLinkStyle:focus {
  background-color: #20413A;
  color: #f1cddf;
}

.contact {
  color: #fff;
  position: relative;
  padding-bottom: 2rem;
  min-height: 70vh;
  position: relative;
}

.contactWrapper {
  height: 70vh;
  border-radius: 8px;
}

.contactHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailMe {
  padding-top: 1rem;
  display: flex;
}

.emailHeader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 2rem;
}

fieldset {
  border: none;
  border-radius: 3px;
  box-shadow: 0 4px 25px rgba(77, 103, 83, 0.4235294118);
  color: #20413A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  width: 60%;
}

legend {
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: row;
  width: 650px;
  justify-content: flex-start;
}
form button {
  color: #20413A;
  width: 100%;
  font-family: "Lora Regular";
  background-color: rgba(247, 249, 248, 0.3647058824);
  border-radius: 5px;
  border: 1px solid rgba(77, 103, 83, 0.2666666667);
  box-shadow: 3px 3px 10px rgba(77, 103, 83, 0.2666666667);
  padding: 8px 0;
  cursor: pointer;
  transition: 0.3s;
}
form button:hover, form button:focus {
  background-color: #f1cddf;
  color: #20413A;
  box-shadow: none;
}

label {
  text-align: center;
  padding: 5px;
  color: #20413A;
}

input,
textarea {
  color: #20413A;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: rgba(247, 249, 248, 0.8117647059);
  width: 300px;
  border-radius: 3px;
  padding: 7px;
  margin: 5px auto 15px;
  border: 1px solid rgba(247, 249, 248, 0.2352941176);
  text-align: start;
  transition-duration: 0.25s;
}
input:hover, input:focus,
textarea:hover,
textarea:focus {
  border: 1px solid #f1cddf;
  background-color: hsl(0deg, 79%, 99%);
}

textarea {
  height: 135px;
  resize: none;
}

.fa-angles-up {
  position: absolute;
  font-size: 1.3rem;
  right: 8vw;
  bottom: 2vh;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #f1cddf;
  text-align: center;
  padding-top: 10px;
  background-color: #f1cddf;
  color: #fff;
  box-shadow: 3px 3px 3px 3px rgba(134, 132, 132, 0.495);
  transition: 0.3s;
}
.fa-angles-up:hover {
  transform: scale(90%);
  box-shadow: 4px 4px 4px 4px rgba(134, 132, 132, 0.495);
}

footer {
  background-color: #f1cddf;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  color: #20413A;
}
.footerContainer a {
  color: #20413A;
  font-weight: bold;
}

.navBar {
  padding-top: 22px;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  margin-right: 15vw;
}
.navMenu a {
  color: #20413A;
  cursor: pointer;
  padding: 10px 30px;
}
.navMenu a:hover {
  transition: 0.2s;
  border-bottom: 2px solid #20413A;
}
.navMenu a:focus {
  border: 2px solid #fff;
  background-color: none;
  border-radius: 3px;
}

.navToggler {
  border: 3px solid #20413A;
  padding: 5px;
  height: 40px;
  cursor: pointer;
  display: none;
}

.navToggler span,
.navToggler span::before,
.navToggler span:after {
  width: 30px;
  height: 3px;
  background-color: #20413A;
  display: block;
  transition: 0.3s;
}

.navToggler span:before {
  content: "";
  transform: translateY(-9px);
}

.navToggler span:after {
  content: "";
  transform: translateY(6px);
}

/* 1400px screen-size devices and smaller */
@media (max-width: 1400px) {
  .wrapper {
    width: 80%;
  }
}
/* 1000px screen-size devices and smaller */
@media (max-width: 1000px) {
  .wrapper {
    width: 85%;
  }
  .paulaContainer {
    width: 90vw;
    height: 70%;
    justify-content: center;
    align-items: center;
  }
  .paulaContainer h1 {
    padding-top: 0;
  }
  .flower {
    height: 20vh;
    bottom: 1%;
    right: 41%;
    transform: scaleX(-1);
    opacity: 1;
  }
  @-webkit-keyframes falling {
    0% {
      transform: translate3d(15rem, -2rem, -4rem) rotate(20deg) scaleX(-1);
      opacity: 0;
    }
    100% {
      transform: translate3d(0, 0, 0) rotate(0deg), scaleX(-1);
    }
  }
  @keyframes falling {
    0% {
      transform: translate3d(15rem, -2rem, -4rem) rotate(20deg) scaleX(-1);
      opacity: 0;
    }
    100% {
      transform: translate3d(0, 0, 0) rotate(0deg), scaleX(-1);
    }
  }
  .socialMediasLinks {
    padding: 0.5rem;
  }
  .buttonDown1 {
    height: 10vh;
    padding-left: 31vw;
  }
  .aboutContainer {
    gap: 1rem;
  }
  .profileImg {
    width: 30%;
  }
  .profileImg img {
    height: 100%;
  }
  .aboutMeText {
    width: 70%;
  }
  .skillsContainer {
    width: 90%;
  }
  .skillsContainer div {
    width: 170px;
    height: 170px;
  }
  .projectsContainer {
    gap: 1.5rem;
  }
  .project1,
.project2,
.project3,
.project4 {
    flex-direction: column;
  }
  .contact {
    padding-bottom: 1rem;
  }
  .fieldset {
    padding: 1rem;
  }
  .emailMe {
    padding-top: 10px;
  }
  form {
    width: 615px;
  }
  .fa-angles-up P {
    right: 9vw;
  }
}
/* 800px screen-size devices and smaller */
@media (max-width: 840px) {
  .wrapper {
    width: 90%;
  }
  .title {
    text-align: center;
  }
  .aboutContainer {
    flex-direction: column;
    min-width: 300px;
    max-width: 820px;
    padding-top: 1rem;
  }
  .aboutMeText {
    width: 100%;
  }
  .profileImg {
    height: 300px;
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .profileImg img {
    margin-top: 0;
    margin-left: 0;
  }
  .aboutMeText {
    padding: 1rem;
    max-width: 85vw;
  }
  .skillsContainer {
    gap: 0.5rem;
  }
  .skillsContainer div {
    width: 155px;
    height: 155px;
  }
  .skillsContainer i {
    font-size: 1.5rem;
  }
  .contactContainer {
    position: absolute;
  }
  .contact {
    min-height: 80vh;
  }
  fieldset {
    width: 94%;
    margin: 0 auto;
  }
  fieldset div {
    width: 100%;
  }
  form {
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
  }
  form button,
form label,
form input,
form textarea {
    display: inline-block;
    max-width: 400px;
    width: 100%;
  }
}
/* 420px screen-size devices and smaller */
@media (max-width: 420px) {
  .wrapper {
    width: 94%;
  }
  .flower {
    height: 18vh;
    right: 36%;
  }
  .buttonDown1 {
    padding-left: 25vw;
  }
  .title {
    margin-left: 0;
    max-width: 100%;
  }
  .title::after {
    font-size: 1.6rem;
  }
  .aboutMeText {
    padding: 0 0 0 0.5rem;
    max-width: 90vw;
  }
  .emailHeader {
    width: 95%;
    padding-left: 20px;
  }
  .contactHeader {
    padding-bottom: 3rem;
  }
  fieldset {
    width: 85%;
    padding: 0.8rem;
  }
  form {
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
  }
  form button,
form label,
form input,
form textarea {
    width: 300px;
  }
  .contactContainer {
    position: absolute;
    bottom: -527vh;
    left: 35%;
  }
  .contactContainer ul {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 1000px) {
  .navBar {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 2rem;
    z-index: 10;
  }
  .navToggler {
    display: block;
    position: relative;
  }
  .navToggler:hover, .navToggler:focus {
    background-color: rgba(186, 194, 171, 0.7333333333);
    border: none;
  }
  .navMenu {
    display: block;
    position: absolute;
    height: 240px;
    width: 320px;
    background-color: rgba(186, 194, 171, 0.9411764706);
    overflow: hidden;
    transition: 0.5s;
    top: -105%;
  }
  .navMenu .navItem {
    width: 100%;
    text-align: center;
    height: 60px;
    padding-top: 10px;
  }
  .navMenu .navItem:hover {
    color: #f1cddf;
    background-color: #20413A;
    transition: 0.2s;
  }
  .navMenu .navItem a {
    padding: 12px 130px;
    color: #20413A;
  }
  .navMenu .navItem a:hover {
    color: #f1cddf;
    background-color: #20413A;
    transform: scale(1.5);
    border: none;
  }
  .navMenu.active {
    top: 49px;
    right: 40px;
    margin-right: 0;
  }
  .navToggler.active span {
    background-color: transparent;
  }
  .navToggler.active span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .navToggler.active span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
}/*# sourceMappingURL=styles.css.map */