html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Lora Regular";
  src: url("../../fonts/Lora/static/Lora-Regular.ttf");
}
@font-face {
  font-family: "Lora Italic";
  src: url("../../fonts/Lora/static/Lora-Italic.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url(../../fonts/Roboto/Roboto-Bold.ttf);
}
html {
  font-size: 125%;
}

h1 {
  font-family: "Lora Regular";
  color: #20413A;
  font-size: clamp(5rem, 8vw, 8rem);
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: "Roboto";
  font-size: clamp(2.1rem, 4vw, 3.5rem);
  color: #FBDDDD;
  width: 80%;
}

h3 {
  font-family: "Lora Regular";
  font-size: clamp(1.6rem, 3vw, 3rem);
  color: #20413A;
  text-align: center;
}

h4 {
  font-family: "Roboto Bold";
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  color: #20413A;
}

article,
legend,
label,
p,
a {
  font-family: "Lora Regular";
  font-size: clamp(1rem, 1vw, 1.2rem);
  line-height: 1.5rem;
}

.wrapper {
  max-width: 1440px;
  width: 70%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  outline: none;
}
a:focus {
  outline: 2px solid #FBDDDD;
  padding: 1%;
}

i {
  font-size: 2.5rem;
}

.fa-angle-down {
  width: 60px;
  height: 60px;
  border-radius: 40px;
  border: 2px solid #FBDDDD;
  text-align: center;
  padding-top: 2px;
  background-color: #FBDDDD;
  box-shadow: 3px 3px 3px 3px rgba(134, 132, 132, 0.495);
}

.buttonStyle {
  position: absolute;
  -webkit-animation: bounce 0.5s infinite;
          animation: bounce 0.5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes bounce {
  1% {
    height: 2px;
    transform: translateY(2px);
  }
}

@keyframes bounce {
  1% {
    height: 2px;
    transform: translateY(2px);
  }
}
.fa-angles-up {
  position: absolute;
  font-size: 1.6rem;
  right: 5vw;
  bottom: 5vh;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  border: 2px solid #FBDDDD;
  text-align: center;
  padding-top: 10px;
  background-color: #FBDDDD;
  color: #fff;
  box-shadow: 3px 3px 3px 3px rgba(134, 132, 132, 0.495);
  transition: 0.3s;
}
.fa-angles-up:hover {
  transform: scale(90%);
  box-shadow: 4px 4px 4px 4px rgba(134, 132, 132, 0.495);
}

header {
  height: 98vh;
  background: rgba(186, 194, 171, 0.2862745098);
  width: 99%;
  margin: 0 auto;
  color: #fff;
  position: relative;
  margin-top: 10px;
}
header a {
  color: #fff;
}

.skipToMain {
  padding: 15px;
  text-align: center;
}
.skipToMain a {
  color: transparent;
  font-size: 15px;
  padding: 5px;
}
.skipToMain a:hover, .skipToMain a:focus {
  color: #20413A;
  border: 1px solid #BaC2AB;
}

.topHeader {
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
}

.paulaHeader {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  position: relative;
  padding-left: 15%;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-25 9:43:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.lastName {
  color: #4D6753;
  font-size: clamp(1.8rem, 3vw, 4rem);
}

.title {
  position: relative;
  color: #20413A;
  margin-top: -2rem;
  margin-left: -5%;
  width: 100%;
}
.title::after {
  content: "</>";
  color: #20413A;
  font-size: 3rem;
}

.buttonDown1 {
  position: absolute;
  height: 4vh;
  padding-left: 5vw;
  bottom: 4rem;
}

.aboutMe {
  min-height: 40vh;
  padding-bottom: 1.5rem;
  margin: 2rem auto;
  position: relative;
}
.aboutMe h3 {
  padding-top: 2rem;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  min-height: 5vh;
  padding: 2rem;
  background-color: rgba(251, 221, 221, 0.0901960784);
  border-radius: 5%;
}

.profileImg {
  align-items: center;
  gap: 2rem;
  height: 200px;
}
.profileImg img {
  border-radius: 50%;
  border: 5px solid #FBDDDD;
  width: 250px;
  height: 250px;
}
.profileImg h3 {
  color: #4D6753;
  border-bottom: 2px solid #FBDDDD;
}

.aboutMeText {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
}
.aboutMeText p {
  text-align: justify;
}

.buttonDown4 {
  position: absolute;
  height: 4vh;
  left: -10px;
  bottom: 4rem;
  display: none;
}
.buttonDown4 i {
  color: #fff;
}

.skills {
  background-color: #BaC2AB;
  color: #fff;
  min-height: 55vh;
  padding: 2rem auto;
  position: relative;
}

.displaySkills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 74%;
  min-height: 28vh;
  gap: 1.2rem;
}
.skillsContainer div {
  width: 160px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #20413A;
  transition: 0.3s;
}
.skillsContainer div:hover, .skillsContainer div:focus {
  color: #FBDDDD;
  background-color: #20413A;
  border-radius: 10px;
  box-shadow: inset 0 0 0.6em 0 rgba(249, 250, 248, 0.3490196078), 0 0 0.6em 0 rgba(249, 250, 248, 0.3490196078);
}

.material-symbols-outlined {
  color: #20413A;
  font-size: larger;
  font-variation-settings: "FILL", "wght" 850, "GRAD" 0, "opsz" 48;
}
.material-symbols-outlined:hover {
  color: #FBDDDD;
}

.buttonDown2 {
  position: absolute;
  height: 4vh;
  padding-left: 5vw;
  bottom: 4rem;
}
.buttonDown2 i {
  color: #fff;
}

.projectsSection {
  position: relative;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh auto;
  padding-bottom: 2rem;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(251, 221, 221, 0.2862745098);
  border-radius: 15px;
  padding: 50px 40px;
  gap: 2.5rem;
}
.projectsContainer .project1,
.projectsContainer .project2,
.projectsContainer .project3,
.projectsContainer .project4 {
  min-width: 25vw;
  max-width: 350px;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding-bottom: 2rem;
  background-color: #fff;
}
.projectsContainer .projectContainerLocal {
  padding: 10px 20px;
  width: 100%;
  min-width: 350px;
}

.projectImg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.projectImg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  box-shadow: inset 2px 2px 0.4em 0 rgba(186, 194, 171, 0.7803921569), 1px 1px 0.4em 0 rgba(186, 194, 171, 0.7803921569);
}

.fa-bars-progress {
  font-size: 13rem;
  color: #20413A;
  min-width: 350px;
  margin-left: 10%;
}

.toolsDescription {
  font-family: "Lora Regular";
  color: #20413A;
}
.toolsDescription i {
  font-size: 1.5rem;
}

.projectLinkStyle {
  font-family: "Lora Regular";
  color: #fff;
  width: 140px;
  text-align: center;
  font-size: 1rem;
  padding: 5px 15px;
  background-color: #4D6753;
}
.projectLinkStyle:hover, .projectLinkStyle:focus {
  background-color: #20413A;
  color: #FBDDDD;
}

.buttonDown3 {
  position: absolute;
  height: 4vh;
  padding-left: 5vw;
  bottom: 4rem;
}
.buttonDown3 i {
  color: #fff;
}

.contact {
  background-color: #BaC2AB;
  color: #fff;
  position: relative;
  padding-bottom: 2rem;
  min-height: 70vh;
  position: relative;
}

.contactHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.contactHover {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto;
  padding-top: 2rem;
}
.contactHover div {
  color: #20413A;
  transition: 0.3s;
  width: 140px;
  height: 140px;
  justify-content: center;
  align-items: center;
}
.contactHover div a {
  padding: 2rem;
  transition: 0.3s;
}
.contactHover div i {
  color: #20413A;
}
.contactHover div .contactPHover {
  color: #BaC2AB;
  font-size: 18px;
  text-align: center;
}
.contactHover div:hover, .contactHover div:focus {
  background-color: #20413A;
  border-radius: 10px;
  color: #FBDDDD;
  padding: 0.5rem 0.2rem 0.2rem;
  transform: scale(1.05);
}
.contactHover div:hover i,
.contactHover div:hover .contactPHover, .contactHover div:focus i,
.contactHover div:focus .contactPHover {
  color: #FBDDDD;
}

.emailMe {
  padding-top: 1rem;
  display: flex;
}

.emailHeader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 2rem;
}

fieldset {
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.077);
  box-shadow: inset 0 0 0.6em 0 rgba(230, 233, 225, 0.3490196078), 0 0 0.6em 0 rgba(230, 233, 225, 0.3490196078);
  color: #20413A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  width: 75%;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: row;
  width: 650px;
  justify-content: flex-start;
}
form button {
  width: 100%;
  color: #20413A;
  font-family: "Lora Regular";
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-color: #20413A;
  border-radius: 10px;
  padding: 8px 0;
  color: #FBDDDD;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: inset 0 0 8px #4D6753;
  box-shadow: 0 0 5px #4D6753;
}
form button:hover, form button:focus {
  background-color: #FBDDDD;
  color: #20413A;
  box-shadow: inset 0 0 10px rgba(250, 192, 192, 0.9333333333);
}

label {
  text-align: center;
  padding: 5px;
  color: #20413A;
}

input,
textarea {
  color: #20413A;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-color: rgba(246, 226, 226, 0.284);
  width: 300px;
  border-radius: 10px;
  padding: 7px;
  margin: 5px auto 15px;
  text-align: start;
  transition-duration: 0.25s;
}
input:hover, input:focus,
textarea:hover,
textarea:focus {
  border: 1px solid #FBDDDD;
  background-color: hsl(0deg, 79%, 99%);
}

textarea {
  height: 135px;
  resize: none;
}

footer {
  color: #20413A;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  color: #20413A;
}
.footerContainer a {
  color: #20413A;
  font-weight: bold;
}

.navBar {
  padding-top: 22px;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  margin-right: 15vw;
}
.navMenu li:hover {
  transform: scale(1.1);
}
.navMenu a {
  color: #20413A;
  cursor: pointer;
  padding: 15px 40px;
}
.navMenu a:hover {
  transition: 0.2s;
  background-color: rgba(77, 103, 83, 0.1490196078);
  border-radius: 10px;
}
.navMenu a:focus {
  border: 2px solid #fff;
  background-color: none;
  border-radius: 10%;
}

.navToggler {
  border: 3px solid #20413A;
  padding: 5px;
  height: 40px;
  cursor: pointer;
  display: none;
}

.navToggler span,
.navToggler span::before,
.navToggler span:after {
  width: 30px;
  height: 3px;
  background-color: #20413A;
  display: block;
  transition: 0.3s;
}

.navToggler span:before {
  content: "";
  transform: translateY(-9px);
}

.navToggler span:after {
  content: "";
  transform: translateY(6px);
}

/* 1400px screen-size devices and smaller */
@media (max-width: 1400px) {
  .wrapper {
    width: 86%;
  }
}
/* 1200px screen-size devices and smaller */
@media (max-width: 1200px) {
  .paulaHeader {
    padding-left: 15%;
  }
  .title {
    margin-left: 0;
    max-width: 80%;
  }
  .title::after {
    font-size: 2rem;
  }
  .aboutContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutContainer .profileImg {
    height: auto;
  }
  .buttonDown4 {
    display: block;
  }
  .projectsContainer {
    gap: 1.5rem;
  }
  .project1,
.project2,
.project3,
.project4 {
    flex-direction: column;
  }
}
/* 800px screen-size devices and smaller */
@media (max-width: 800px) {
  .wrapper {
    width: 90%;
  }
  .paulaHeader {
    padding-left: 10%;
  }
  .title {
    margin-left: 0;
    max-width: 85%;
  }
  .title::after {
    font-size: 2.2rem;
  }
  .aboutMeText {
    width: 125%;
  }
  .buttonDown2,
.buttonDown4 {
    bottom: 1.5rem;
  }
  .skillsContainer {
    gap: 1rem;
  }
  .emailHeader {
    width: 90%;
    justify-content: flex-start;
  }
  fieldset {
    padding: 2rem 0;
    margin: 0 auto;
  }
  fieldset div {
    width: 95%;
  }
  form {
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
  }
  form button,
form label,
form input,
form textarea {
    max-width: 350px;
    width: 100%;
  }
  .fa-angle-down {
    width: 50px;
    height: 50px;
  }
  i {
    font-size: 2rem;
  }
  .fa-angles-up {
    font-size: 1.3rem;
    width: 50px;
    height: 50px;
    bottom: 3vh;
  }
  .contactContainer {
    width: 90%;
  }
}
/* 400px screen-size devices and smaller */
@media (max-width: 400px) {
  .wrapper {
    width: 94%;
  }
  .title {
    margin-left: 0;
    max-width: 100%;
  }
  .title::after {
    font-size: 1.6rem;
  }
  .fa-bars-progress {
    font-size: 10rem;
  }
  .emailHeader {
    width: 95%;
    padding-left: 20px;
  }
  fieldset {
    width: 90%;
    left: 25px;
  }
  fieldset div {
    width: 90%;
  }
  form {
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
  }
  form button,
form label,
form input,
form textarea {
    width: 300px;
  }
}
@media (max-width: 1200px) {
  .navBar {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 2rem;
    z-index: 10;
  }
  .navToggler {
    display: block;
  }
  .navToggler:hover, .navToggler:focus {
    background-color: #BaC2AB;
    border: 1px solid lightgray;
  }
  .navMenu {
    display: block;
    position: absolute;
    width: 100%;
    height: 25vh;
    top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #20413A;
    overflow: hidden;
    transition: 0.5s;
    left: -105%;
  }
  .navMenu .navItem {
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 60px;
    padding-top: 10px;
  }
  .navMenu .navItem:hover {
    color: #20413A;
    background-color: #BaC2AB;
    transition: 0.3s;
  }
  .navMenu .navItem a {
    padding: 12px 100px;
    color: #fff;
  }
  .navMenu .navItem a:hover {
    color: #20413A;
    background-color: transparent;
    transform: scale(1.5);
  }
  .navMenu.active {
    left: 0;
  }
  .navToggler.active span {
    background-color: transparent;
  }
  .navToggler.active span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .navToggler.active span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
}/*# sourceMappingURL=styles.css.map */